<h4>What MySeedlings stands for:</h4>

<div class="tutorial-text">
   Cherry is a local social network that aims to be a virtual room of this place. It allows you to interact with other members via messages, gifts, a "notes board" and a game.
</div>

<div class="help-image">
  <%= image_tag("garden.png") %>
</div>

<div class="tutorial-text">Cherry is designed to reflect social interactions online onto the real world. Members can help beautify this place by taking care of a table-top garden, and in the process earn rewards (like tea/coffee or lunch).</div>

<div class="tutorial-text">
  Are you being displayed as a <b>Week Winner</b>? Do you need help or have comments? contact <a href="mailto:roberto@alumni.ubc.ca"><b>roberto@alumni.ubc.ca</b></a> 
</div>
