
<iframe class="appcontainer" src=<%= welcome_path %> scrolling="no" frameBorder="0"></iframe>

<div class="appmenu">
  <div class="title">Apps</div>
</div>

<div class="messageboard">
  <div class="title">Notes and Messages from your community:</div>
  <div class="note">
    <b>Roberto</b>: Welcome to the MAGIC Web-App container.
  </div>
</div>

<div class="qrcode">
<img src="/img/scan.png">
<% if @displayname == "demo" %>
<%= image_tag "demoqrcode.png" %>
<%  else %>
<%= image_tag "https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=#{@qrcodeurl}&choe=UTF-8" %>
<% end %>

</div>

<div class="qrcodeurl">
<%= @texturl %>
</div>

<div id="interact-instructions">
  <div id="instructions-block">
	  You can interact with this Display!<br/>
	  <iframe src="http://player.vimeo.com/video/91363613?autoplay=1&amp;loop=1" width="420" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  <br/>Visit URL below or scan QR Code.<br/>
  </div>
</div>






