<div class="row">
  <div class="span3 offset1">
    <h2>Send a message</h2>
    <%= form_for(@message) do |f| %>     
      <%= render 'messages/fields', f: f %><br>
      <%= f.submit "Send", class: "btn btn-large btn-primary" %> 
    <% end %>
  </div>
</div>
