<div class="row">
  <div class="span6">
    <h2>Modify Container Setup</h2>
      <%= form_for(@setup) do |f| %>     
        <%= render 'setups/fields', f: f %>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %> 
    <% end %>
  </div>
</div>

