/*@import "bootstrap";*/

/* Box-sizing that can be included on debug */
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px; /*so that container goes below navbar*/
}

.hidden {
  display: nonoe;
}

/*
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
*/
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/*
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
*/

/*Fixing Navbar gray colors to look better in mobile, i.e. not gray*/
ul.nav a { color: #999966 !important; }
div.nav a { color: #999966 !important; }

/*Messages*/

.messages {
  list-style:none;
  .from {align: right; background-color: #CCFFCC; margin-left:30%; width:70%; padding: 5px 5px; margin-top:5px; border-radius: 10px; -moz-border-radius: 10px;}
  .to {align: right; background-color: #F8F8F8; width:70%; padding: 5px 5px; margin-top:5px;  border-radius: 10px; -moz-border-radius: 10px;}
  .date { font-size: xx-small; text-align: right;}
  .message_thumbnail { height: 30px; width: 30px; padding-right: 10px;} 
 }

.unreadmessageflash {
    color:white;
    background:red;
    border-radius:5px;
    padding:5px;
    margin:1px;
    float:right;
    font-height:10px;
}

.message-request-item {
  font-size:12px;
  text-align:center;
  //border-style:solid;
  //border-width:1px;
  // border-color:gray;
  width: 100%;  
  padding: 2px;
  //margin: 1px;
}

/*Apps*/

.apps {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    min-height:60px;
  }
  h4 { line-spacing: 0.1;}

  .app-element {
    margin-left:80px;
  }
  
  .appthumbnail {
    float:left;
    width:60px;
    height:60px;
    margin-right: 10px;    
  }
  .description {
    display: block;
  } 
  .url {
    color: gray;    
  } 
  .mobile_url {
    color: gray;    
  } 
  .subscribe_form {
    float:right;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  /* Sass changes &:hover into #logo:hover from SCSS to CSS. */
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/*Forms*/
textarea {
  height:3em;
  width: 100%;
}

/*Favour*/

.profile-favourlist-item{
  text-align:center;
  font-size:10px;
  border-style:solid;
  border-width:1px;
  border-color:gray;
  width: 80px;
  float:left;
  padding: 2px;
  margin: 1px;
}

.favourflash {
    display: inline-block;
    background: #a8c954 url('help.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    padding:5px;
    margin:1px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.favourpendingflash {    
    display: inline-block;
    background: #A8A8A8 url('help.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    padding:5px;
    margin:1px;
    width: 70px;
    height: 70px;
    text-align: center;
    color: white;
    font-size:60px;
    line-height:60px;
}

.favours_count {
    float:right;
    display: block;
    background: #a8c954 url('help.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    width:60px;
    height:60px;
    margin:3px;
    font-size:50px;
    line-height:55px;
    text-align:center;
    color:white;
    position:relative;
}

.favours_count:after{
   content:"Help";
   font-weight: bold;
   text-align:center;
   font-size: 15px;
   line-height:15px;
   position:absolute;
   bottom:0px;
   left:0px;
   width: 60px;
   vertical-align:bottom;
}




/*Gifts*/

.profile-giftlist{
  margin-top:5px;
  min-height:100px;
  //width: 80%;
}

.profile-giftlist-item{
  font-size:12px;
  border-style:solid;
  border-width:1px;
  border-color:gray;
  width: 90px;
  float:left;
  padding: 2px;
  margin: 1px;
}

.giftflash {
    display: inline-block;
    background: #FF6633 url('gift.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    padding:5px;
    margin:1px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.giftpendingflash {
    display: inline-block;
    background: #A8A8A8 url('gift.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    padding:5px;
    margin:1px;
    width: 80px;
    height: 80px;
    text-align: center;
    color: white;
    font-size:70px;
    line-height:70px;
}


/*Profile*/

.profile-checkins{
  height:65px;
  padding:5px 5px;
  margin-top:5px;
}

.week_score {float:right; border-radius:5px; width:140px; height:140px; background:#00C36D;font-size:120px; line-height:130px;text-align:center; color:white; position:relative;}

.week_score:after{
   content:"Points";
   font-weight: bold;
   text-align:center;
   font-size: 25px;
   line-height:25px;
   position:absolute;
   bottom:0px;
   left:0px;
   width: 140px;
   vertical-align:bottom;
}

.place_points_count {
    float:right;
    display: block;
    background: #553400 url('harvest.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    width:60px;
    height:60px;
    margin:3px;
    font-size:50px;
    line-height:55px;
    text-align:center;
    color:white;
    position:relative;
}


.place_points_count:after{
   content:"Harvest";
   font-weight: bold;
   text-align:center;
   font-size: 15px;
   line-height:15px;
   position:absolute;
   bottom:0px;
   left:0px;
   width: 60px;
   vertical-align:bottom;
}

.user_profile_picture {
   height:140px;
}



/*help*/

.help-image img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width:280px;
}




/*Checkins and UserLists*/
.userlistitem {margin-bottom: 20px; background:#F0F0F0; padding:5px 5px; border-style:solid; border-color:#D0D0D0;min-height:65px;}
.checkin-button {margin-top: 5px;}
.userlistitem a {font-size:15px; font-style:bold; padding-left:5px; line-height:50px; float:left;}
.checkins_user_img{float:left; width:50px; height:50px;}
.checkins_user_name {float:left;}

.checkins_count {
    float:right;
    display: block;
    background: #6699FF url('water.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    border-radius:5px;
    width:60px;
    height:60px;
    margin:3px;
    font-size:50px;
    line-height:55px;
    text-align:center;
    color:white;
    position:relative;
}
.checkins_count:after{
   content:"Water";
   font-weight: bold;
   font-size: 15px;
   line-height:15px;
   position:absolute;
   bottom:0px;
   left:0px;
   width: 60px;
   vertical-align:bottom;
}

.checkin_form{clear:both; text-align:right;}
.checkin_form input{width:100%}

/*User Login*/
.signin-intro { background-color:rgba(0,153,51,0.7); border-radius:5px; padding:5px; margin:10px; color:white; font-size:20px; line-height:25px; text-align:center;}
.userlistitem-login {margin: 5px 5px; width:50px; height:50px; background:#F0F0F0; float:right; position:relative;}
  .user_img-login{width:50px; height:50px; position:absolute; top:0; left:0; }
  .checkins_count-login {width:25px; height:25px; background:#6699FF;font-size:20px; line-height:20px;text-align:center; color:white; position:absolute; z-index:10;}
.signin-intro-text {clear:both; font-size:20px; line-height:30px; text-align:center;} //clear float
.signin-button {height: 30px; text-align:center;}

.signin-image {
  padding-left:10%;
}
.signin-welcome{
  text-align:right;
  font-size:20px;
  color:black;
}
.signin-image-mobile {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  text-align:center;
}

.appthumbnail-mobile {
    margin: 5px;
    border:1px solid gray;//#009933;
    border-radius:10px;
    padding: 2px;
    width: 80px;
    height: 80px;
}

/*Facebook success login so that it looks like alert-success*/
.alert-notice {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #3c763d;
}

/*Shocase of features to entice people to login*/
.features-intro {background-color:white; color:black; margin:5px; clear:both; padding:8px; font-size:15px; line-height:15px;}
.feature {background-color:rgba(0,153,51,0.7); padding:10px; width:40%; min-height: 150px; border-radius:10px; margin:5px; margin-right:auto; margin-left:auto; float:left; margin:10px;}
.feature-image {clear:both; text-align:center; }
.feature-image img { max-width:80px; max-height:80px;}
.feature-text{text-align:center;color:white; font-size:15px;line-height:15px; font-weight:bold; margin:5px; }

/*Login Study Disclaimer*/
.studydisclaimer {font-size:8pt; line-height:9pt; margin: 5px 5px; margin-top:30px; }

/*Scanner apps*/
.qr-scanner-list {position:absolute; bottom:5px; right:5px; background:#F0F0F0; text-align: center; border-radius: 5px; padding: 5px 5px; }
.qr-scanner {height: 30px; margin: 2px 2px;}

/*Tutorial*/
.tutorial-text {font-size:100%; background: #DDFFFF; border-radius: 5px; padding: 5px 5px; margin: 5px 5px;}


/*Errors*/
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.mobileappcontainer {
  position:absolute;
  z-index:-1;
  top: 60px;
  left: 0px;
}

.element.style {
  width:0px;
  heigth:0px;
}




