html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.appmenu {

  position:fixed;
  left:90%;
  top:0px;
  text-align:center;

  border-style:solid;
  border-color: gray;
  border-width:1px;
  width: 10%;
  height:100%;
  .available {
    width:10%;
    float:right;
    &:img {
      width:80px;
      height:80px;
      float:left;
    }
  }
  .queued {
    width:80px;
    float:right;
    &:img {
      width:20px;
      height:20px;
      float:left;
    }
  }
  .instructions {
    height:70px;
    width:700px;
    margin-top: 2px;
    font-size: smaller;
    text-align:center; 
    margin-right:auto;
  }
  .appthumbnail {
    margin-right: auto;
    margin-left:auto;
    margin-top: 7px;
    border:0px solid #009933;
    border-radius:10px;
    padding: 2px;
    /*max-width: 90px;*/
    /*width: 90%;*/
  }
}

#interact-instructions{
   //background-color:white;
   align: center;
   //height:80%;
   //width:90%;
   position:absolute;
   bottom: 25%;
   left: 0%;
   z-index:1000;
}

#instructions-block{
   width: 550px;
   background-color: #383838;
   border-radius: 15px;
   margin: 10px;
   padding: 10px;
   text-align: center;
   font-size: 80px;
   font-weight: bold;
   line-height: 85px;
   color: #DDDDDD;
   text-align: center;
}

#interact-instructions-video{
  width:500px;
}

#checkin-notice {position:absolute; bottom:20px; left:20px; background:#6699FF; border-radius: 10px; color:white; padding:15px; text-align:center; font-weight:bold; font-size:40px;}
.checkin-notice-persons {}


.appcontainer {
  position:fixed;
  top: 0px;  
  left: 0px;
  width: 90%;
  height: 75%; 
  overflow:hidden;
  scrolling:no;
}

.messageboard {
  background-color: #FFFFCC;
  position:absolute;
  top:75%;
  left:0px;
  width: 90%;
  height: 15%;
}

.title {
  font-size:20px;
  line-height:20px;
  color:black;
  text-align:center;
  padding:2px;
}

.note {
  background-color: #FFCC00;
  padding:2px;
  position:relative;
  width:22%;
  height: 75%;
  margin:2px;
  float:left;
  font-size: 80%;
  font-style: normal;
  text-align: left;
}

.note-user-thumbnail {
  left: 2px;
  top: 2px;
  width: 50px;
}

.note-user-thumbnail img {
  width:30px;
}

.note-text {
  position:absolute;
  left:55px;
  font-size:20px;
}

.qrcode {
  position:absolute;
  bottom: 10%;
  right: 0%;
  width: 9%;
  text-align: right;   
}

.qrcode img {width: 100%}

.qrcodeurl {
  position:fixed;
  bottom:0%;
  left:0%;
  line-height:85px;
  font-size:90px;
  text-align:center;
  background:black;
  color:white;
  padding:5px;
  width:100%;
  height:10%;
  padding: 2px 2px;
}

