html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.appmenu {

  position:fixed;
  left:90%;
  top:0px;
  text-align:center;

  border-style:solid;
  border-color: gray;
  border-width:1px;
  width: 10%;
  height:100%;
  .available {
    width:10%;
    float:right;
    &:img {
      width:80px;
      height:80px;
      float:left;
    }
  }
  .queued {
    width:80px;
    float:right;
    &:img {
      width:20px;
      height:20px;
      float:left;
    }
  }
  .instructions {
    height:70px;
    width:700px;
    margin-top: 2px;
    font-size: smaller;
    text-align:center; 
    margin-right:auto;
  }
  .appthumbnail {
    margin-right: auto;
    margin-left:auto;
    margin-top: 7px;
    border:0px solid #009933;
    border-radius:10px;
    padding: 2px;
    /*max-width: 90px;*/
    /*width: 90%;*/
  }
}

#interact-instructions{
   //background-color:white;
   align: center;
   width:100%;
   height:100%;
   position:absolute;
   top: 0%;
   left: 0%;
   z-index:1000;
}

#instructions-block{
   width: 50%;
   /*background-color: #383838;*/
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   margin: 20px;
   padding: 20px;
   text-align: center;
   font-size: 60px;
   font-weight: bold;
   line-height: 85px;
   color: #DDDDDD;
   text-align: center;
}

#interact-instructions-video{
  //resized now via javascript at onload()
  margin: 20px;
}

#checkin-notice {position:absolute; bottom:20px; left:20px; background:#6699FF; border-radius: 10px; color:white; padding:15px; text-align:center; font-weight:bold; font-size:40px;}
.checkin-notice-persons {}

/*This has been disabled */
#advertisement {
 	   position:absolute;
           font-family: Sans-Serif;
  	   right: 10%;
	   top: 0%;
  	   width: 90%;
           height: 75%;
           background-color:white;
           color:#428BCA;
	   /*font-size: 140px;*/
           font-size: 200%;
           font-weight:bold;
     	   padding:20px;
	   padding-left:500px;
	   text-align:center;

	}

.appcontainer {
  position:fixed;
  top: 0px;  
  left: 0px;
  width: 90%;
  height: 75%; 
  overflow:hidden;
  scrolling:no;
}

.messageboard {
  background-color: #D0D0D0;
  /*background-color: #D3AC8B;*/
  position:absolute;
  top:80%;
  left:0px;
  width: 90%;
  height: 10%;
}

.note {
  /*background-color:#6F4E37;*/
  background-color: #404040 ;
  color:#EEEEEE;
  padding:2px;
  position:relative;
  width:22%;
  height:80%;
  margin:5px;
  float:left;
  font-size: 100%;
  font-style: normal;
  text-align: left;
}

.note-user-thumbnail {
  left: 2px;
  top: 2px;
  max-width: 30%;
  max-height:80%;
}

.note-user-thumbnail img {
  //width:30px;
}

.note-text {
  position:absolute;
  left:32%;
  font-size:100%;
}

.qrcode {
  position:absolute;
  bottom: 10%;
  right: 0%;
  width: 9%;
  text-align: right;   
}

.qrcode img {width: 100%}

.qrcodeurl {
  position:fixed;
  bottom:0%;
  left:0%;
  font-size:100%; //font resized via javascript at onLoad()
  text-align:center;
  background:black;
  color:white;
  width:100%;
  height:10%;
  padding: 2px 2px;
}

