.welcome {
  text-align:center;
  margin-top:50px;
  position:relative;
  top:10%;
  right:20%;

}

.welcomeimage {
    position:relative;
    top:50%;
    .img {
      width: 250px;
      height: 250px;
    }
}
