<div class="row">
  <div class="span6 offset2">
    <h2>Create an App</h2>
    <%= form_for(@app) do |f| %>     
    <%= render 'apps/fields', f: f %>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %> 
    <% end %>
  </div>
</div>
