<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">


      <% #<div class="nav-collapse collapse"> %>
        <ul class="nav pull-right">
          <li class="active"><a href="/mobile/<%= @display_id %>">Apps</a></li>
          <li><a href='<%= "/messages/new/#{@display_id}" %>'>Message</a></li>
        </ul>
      <% #</div> %>

  </div>
</div>
