<!DOCTYPE html>
<html>
<head>
  <title>MAGIC Container</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</div>
</body>


</html>
